@charset "UTF-8";
/* CSS Document */


*{
	margin:0px;
	padding:0px;
}

/* -------GENERAL SELECTORS------- */
body{
	font-family:'Century Gothic';
}

h1, h2, h3, h4, h5, h6, a, p{
	
}

h1{
	text-align:center;
}

h2{
	margin:10px 0px 10px 0px;
  text-align:center;
}

h3{
	
}

h4{
	
}

a:link, a:visited, a:active{
	text-decoration:none;
  color:#333;
}

a:hover{
	color:rgba(99,122,54,1);
}

p{
  margin:5px 0px 5px 0px;
}
/* -------GENERAL SELECTORS------- */

/* -------FONT STYLING------- */
@font-face{
	src:URL(''),
  URL(''),
  URL(''),
  URL('');
	font-family:'';
}
/* -------FONT STYLING------- */

#wrapper, #header, #nav, #side-bar, #main-content, #footer{
  /*background:rgba(50,50,50,0.5);*/
}

#header, #nav, #side-bar, #main-content, #footer{
  padding:20px;
  margin:5px 0px 5px 0px;
  float:left;
}

/* -------WRAP-------*/
#wrapper{
	width:960px;
	margin:auto;
}
/* -------WRAP-------*/

/* -------HEADER------- */
#header{
	width:920px;
  text-align:center;
  background:rgba(191,188,197, 0.5);
}
/* -------HEADER------- */

/* -------NAV------- */
#nav{
	text-align:center;
  width:920px;
}

#nav ul{
	
}

#nav ul li{
  display:inline-block;
  /*width:100px;*/
}

#wrapper #nav ul li a:link, #wrapper #nav ul li a:visited, #wrapper #nav ul li a:active{
  display:inline-block;
  width:100px;
  background:rgba(99,122,54,0.7);
  padding:5px;
  margin:5px 0px 5px 0px;
  color:white;
}

#wrapper #nav ul li a:hover{
  background:rgba(99,122,54,1);
}

#home #wrapper .home-status, #products #wrapper .products-status, #contact #wrapper .contact-status{
  border-bottom:1px solid #90a070;
}
/* -------NAV------- */

/* -------SIDE BAR------- */
#side-bar{
  width:200px;
  margin-left:5px;
  text-align:center;
  background:rgba(191,188,197, 0.5);
}

#side-bar ul li{
  list-style:none;
}

#side-bar ul li a{
  
}
/* -------SIDE BAR------- */

/* -------MAIN CONTENT------- */
#home #main-content{
	width:669px;
  margin-right:5px;
  border-right:1px solid #CCC;
}

#products #main-content{
  width:920px;
  margin-left:0;
}

#products #all-products{
  /*background:rgba(0,0,0,0.5);*/
}

#products .single-product{
  /*border:1px solid black;*/
  width:300px;
  margin:auto;
  text-align:center;
  display:inline-block;
}

#products .single-product img{
  width:200px;
  height:200px;
}

#contact #main-content{
  width:920px;
  margin-left:0;
}

/* -------FORM------- */
form{
  width:400px;
  margin:auto;
}

fieldset{
  border:none;
}

input, textarea{
	display:block;
  width:400px;
  margin:20px 0px 20px 0px;
  border-radius:10px;
  border:1px solid #DDD;
  padding:10px;
}

.form-btn{
  width:150px;
  text-align:center;
}

.error{
  /*background:red;
  padding:5px;
  border:1px solid white;
  border-radius:7px;*/
  color:red;
  font-size:10px;
}

/* -------FORM------- */

/* -------MAIN CONTENT------- */

/* -------CLASSES------- */
.button{
  border:3px solid #333;
  padding:5px;
  display:inline-block;
  margin:5px 0px 5px 0px;
  width:100px;
  text-align:center;
  color:#333;
}

.button:hover{
  border-color:#666;
	color:#666;
}


#placeholder{
  height:300px;
  margin:auto;
  display:block;
}

/* -------CLASSES------- */

/* -------FOOTER------- */
#footer{
	text-align:center;
  border-top:1px solid #000;
  width:920px;
}

#footer ul li{
  display:inline-block;
  width:100px;
}

#footer ul li a{
  
}
/* -------FOOTER------- */