@charset "UTF-8";
/* CSS Document */


*{
	margin:0px;
	padding:0px;
}

/* -------GENERAL SELECTORS------- */
body{
	
}

h1, h2, h3, h4, h5, h6, a, p{
	
}

h1{
	
}

h2{
	
}

h3{
	
}

h4{
	
}

a:link, a:visited, a:active{
	text-decoration:none;
}

a:hover{
	
}

p{
  margin:5px 0px 5px 0px;
}
/* -------GENERAL SELECTORS------- */

/* -------FONT STYLING------- */
@font-face{
	src:URL(''),
  URL(''),
  URL(''),
  URL('');
	font-family:'';
}
/* -------FONT STYLING------- */

#wrapper, #header, #nav, #side-bar, #main-content, #footer{
  background:rgba(50,50,50,0.5);
}

#header, #nav, #side-bar, #main-content, #footer{
  padding:20px;
  margin:5px 0px 5px 0px;
  float:left;
}

/* -------WRAP-------*/
#wrapper{
	width:960px;
	margin:auto;
}
/* -------WRAP-------*/

/* -------HEADER------- */
#header{
	width:920px;
  text-align:center;
}
/* -------HEADER------- */

/* -------NAV------- */
#nav{
	text-align:center;
  width:920px;
}

#nav ul{
	
}

#nav ul li{
  display:inline-block;
  width:100px;
  background:#FFF;
}

#wrapper #nav ul li a{
  display:inline-block;
  width:100px;
  background:#FFF;
  /*background:#FFF;*/
}

#wrapper #nav ul li a:hover{
  background:#F0C;
}

#home .home-status, #about .about-status, #contact .contact-status{
  font-weight:bold;
}
/* -------NAV------- */

/* -------SIDE BAR------- */
#side-bar{
  width:200px;
  margin-right:5px;
  text-align:center;
}

#side-bar ul li{
  list-style:none;
}

#side-bar ul li a{
  
}
/* -------SIDE BAR------- */

/* -------MAIN CONTENT------- */
#main-content{
	width:670px;
  margin-left:5px;
}
/* -------MAIN CONTENT------- */

/* -------FOOTER------- */
#footer{
	text-align:center;
  border-top:1px solid #000;
  width:920px;
}
/* -------FOOTER------- */