@charset "UTF-8";
/* CSS Document */


*{
	margin:0px;
	padding:0px;
}

/* -------GENERAL SELECTORS------- */
body{
	
}

h1, h2, h3, h4, h5, h6, a, p{
	
}

h1{
	
}

h2{
	
}

h3{
	
}

h4{
	
}

a:link, a:visited, a:active{
	
}

a:hover{
	
}

p{
	
}
/* -------GENERAL SELECTORS------- */

/* -------FONT STYLING------- */
@font-face{
	src:URL(''),
		URL(''),
		URL(''),
		URL('');
	font-family:'';
}
/* -------FONT STYLING------- */

/* -------WRAP-------*/
#wrapper{
	width:960px;
	margin:auto;
	padding:20px;
}
/* -------WRAP-------*/

/* -------HEADER------- */
#header{
	width:940px;
	padding:10px;
}
/* -------HEADER------- */

/* -------NAV------- */
#nav{
	
}

#nav ul{
	
}

#nav ul li{
	display:inline-block;
	width:100px;
}
/* -------NAV------- */

/* -------MAIN CONTENT------- */
#main-content{
	
}
/* -------MAIN CONTENT------- */

/* -------FOOTER------- */
#footer{
	
}
/* -------FOOTER------- */